<swiper-container appSwiper #swiper [config]="swiperConfig" init="false">
  <swiper-slide *ngFor="let banner of banners">
    <img [src]="banner.url" [alt]="banner.name" class="block w-full object-contain">
  </swiper-slide>
</swiper-container>

<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4 px-10 mt-8">
  <div class="flex flex-wrap w-full mb-8">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
      <h1 class="text-2xl font-medium title-font mb-2 text-gray-900">Makroahorro</h1>
      <div class="h-1 w-20 bg-primary rounded"></div>
    </div>
  </div>

  <div class="container mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 gap-4">
      <div *ngFor="let product of products; let i = index"
           class="bg-white h-full flex flex-col rounded-lg border border-gray-200 overflow-hidden hover:shadow-lg">
        <img class="h-40 rounded w-full object-contain object-center mt-4 mb-6"
             [src]="product.image" [alt]="product.name">
        <div class="px-4 flex-1">
          <h3 class="tracking-widest text-gray-400 text-xs font-medium title-font">{{product.brand | uppercase}}</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font">{{product.name}}</h2>
          <h4 class="text-sm text-gray-800 font-medium">{{product.presentation}}</h4>
          <div class="flex items-center mt-1.5 mb-2.5">
            <div class="flex items-center space-x-1 rtl:space-x-reverse">
              <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor"
                   viewBox="0 0 22 20">
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
              </svg>
              <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor"
                   viewBox="0 0 22 20">
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
              </svg>
              <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor"
                   viewBox="0 0 22 20">
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
              </svg>
              <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor"
                   viewBox="0 0 22 20">
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
              </svg>
              <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor" viewBox="0 0 22 20">
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
              </svg>
            </div>
            <span
              class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded ms-3">{{product.rating | number:'1.1-2'}}</span>
          </div>

          <div class="flex flex-col" *ngIf="product.prices && product.prices.length > 0">
            <div *ngFor="let item of getFlatPrices(product.prices)" class="flex items-start justify-between mb-1">
              <span class="text-sm font-bold text-gray-500"
                    [ngClass]="{'text-blue-700': item.description === 'OH'}">
                {{item.currency}} {{item.price | number:'1.2-5'}}
              </span>
              <span class="text-sm font-bold text-gray-500"
                    *ngIf="item.description !== 'OH'">
                {{item.description}}
              </span>
              <img src="assets/images/logos/tarjeta-oh.svg" class="h-6 w-6" *ngIf="item.description === 'OH'">
            </div>
          </div>
        </div>
        <div class="px-6 pt-4 pb-2 mb-2">
          <div *ngIf="product.prices && product.prices.length > 0">
            <div *ngFor="let item of getSalientPrice(product.prices)" class="flex flex-col items-start">
              <span class="text-xs font-medium text-gray-700">{{item.description}}:</span>
              <span class="text-lg font-bold text-gray-900">{{item.currency}} {{item.price | number:'1.2-5'}}</span>
            </div>
          </div>

          <button type="button"
                  class="w-full mt-4 text-white bg-primary hover:bg-blue-700 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center">
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>

</div>


<section class="max-w-7xl mx-auto px-5 md:px-16 lg:px-8 pt-14 pb-10 md:pt-14">
  <div class="w-full text-center border bg-primary rounded-xl p-10 py-16 md:p-20">
    <p class="mb-6 text-info font-medium text-2xl">¿Aún no eres cliente?</p>
    <h2 class="mb-16 text-2xl md:text-4xl font-bold text-white">
      ¡Regístrate para convertirte en cliente Makro y agiliza tus compras!
    </h2>
    <button type="button" class="btn-secondary btn-large">
      Regístrate aquí
    </button>
  </div>
</section>
